body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 8px 0;
}

p {
  font-size: 1.2em;
  margin: 0 auto;
  padding: 4px 0;
  letter-spacing: 0.1px;
}


/* Nav Bar component */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #666262 2px;
  border-style: none none solid;
}
.brand {
  margin: 0.5rem;
}
.brand img {
  width: 100%;
  height: auto;
}
.nav-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  display: block;
  text-decoration: none;
  font-family: "Baskerville", Helvetica, serif;
  letter-spacing: 0.3px;
  font-size: larger;
  color: white;
  padding: 1rem;
}
.nav-links li:hover {
  background-color: #555;
}


/* Hamburger menu */
.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-btn .bar {
  height: 3px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
}


/* Onze missie component */
.cnt-onze-missie {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.imgur.com/NuuHhZL.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 10em 0;
  margin: 0 auto;
}
.txtBox-onze-missie {
  text-align: center;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 80%;
  margin: 0 auto;
}


/* Thee van de maand component */
.txtBox-thee-van-de-maand {
  width: 100%;
  text-align: center;
  margin: 0 0 20px 0;
}
.tea-cup-wrapperI {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
.single-teacup {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 240px;
}
.single-teacup img {
  width: 100%;
  height: auto;
}
.tea-cup-description {
  padding: 5px 15px 15px 15px;
  text-align: center;
  font-size: 0.9em;
}
.tea-cup-wrapperII {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
}
.tea-cup-wrapperII img {
  width: 100%;
  height: auto;
}


/* Locaties */
.cnt-locaties {
  background-size: cover;
  background-position: bottom;
  background-image: url("https://i.imgur.com/ME2WNoD.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 6em 0;
  margin: 0 auto;
}
.cnt-locaties h3 {
  padding: 10px 0;
  text-align: center;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 80%;
}
.content {
  padding: 3rem 1rem;
  width: 70%;
  margin: 0 auto;
}
.ctn-modals {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.locatie-modalI {
  width: 30%;
  text-align: center;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 5px;
  margin: 20px 30px 20px 0;
}
.locatie-modalI {
  opacity: 0.8;
}
.loc-p {
  font-size: 1em;
  margin: 15px;
  opacity: 0.8;
}


/* Footer */
.footer {
  display: flex;
  border-top: #666262 2px;
  border-style: solid none none;
  padding: 20px 15px;
  width: 100%;
  height: auto;
}
.footer-p {
  font-size: 1em;
  margin: 0 auto;
  padding: 0;
}


/* Responsive */

@media (max-width: 600px) {
  /* Nav bar component */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  .nav-links li {
    text-align: center;
  }
  .nav-links li a {
    padding: 0.5rem 1rem;
  }
  .nav-links.active {
    display: flex;
  }

  /* Hamburger menu */
  .toggle-btn {
    display: flex;
    top: 25px;
    right: 10px;
  }


  /* Onze missie component */
  .cnt-onze-missie {
    background-attachment: scroll;
    background-size: auto;
  }

  /* Thee van de maand component */
  #tea-cup-wrapper {
    padding: 0 10vw;
  }
  .tea-cup-description {
    font-size: 0.6em;
  }


  /* Locaties */
  .cnt-locaties h3 {
    width: 50%;
  }
  .ctn-modals {
    flex-direction: column;
  }
  .locatie-modalI {
    width: 100%;
  }
  

  /* Footer */
  .footer {
    flex-direction: column;
  }
  .footer-p {
    padding: 5px;
  }
}
